SpringExpressions/bin
SpringExpressions/obj
SpringExpressionsTests/bin
SpringExpressionsTests/obj
TestownicaZCore/bin
TestownicaZCore/obj
*.suo
_ReSharper.Caches
.vs
/SpringExpressions.sln.DotSettings.user
